* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;

}

header {
  background-color: #427D9D;
  padding: 10px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

body{
  background: #9BBEC8;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");  
}

.app footer {
  text-align: center;
  position: relative;
  left: 0;
  /* bottom: -450px; */
  width: 100%;
  height: 2.5rem;
  clear: both;
}

.app footer p {
  color: #164863;
}
.app .note {
  background: #DDF2FD;
  color: #164863;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.app .note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.app .note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.app .note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #427D9D;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.app form.create-note {
  position: relative;
  
  /* width: 480px; */
  margin: 30px auto 20px auto;
  background: #DDF2FD;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.app form.create-note input,
.app form.create-note textarea {
  color: #164863;
  background: #DDF2FD;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.app form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #427D9D;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
